.header{
    border: 1px solid green;
    border: 1px solid green;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 40vw;
    margin-bottom: 20px;
    justify-content: space-between;
    display: flex;
    font-weight: 900;
    padding: 20px;
}

/* ================== Media Queries (medium devices) =============== */

@media screen and (max-width:1203px) {
    .header {
        font-size: 25px;
        width:60vw;
        font-weight: 600;
        padding: 10px;
    }
    
    
    }
    
    /* ================== Media Queries (medium devices) =============== */
    
    @media screen and (max-width:583px) {
    .header {
   font-size: 25px;
        width:60vw;
        padding: 20px;    }
}


@media screen and (max-width:566px) {
    .header {
   font-size: 25px;
        width:90vw;
        padding: 20px;    }
}